<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>MFCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MacfusionMain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>MacfusionMenuling.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Plugins.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>ftpfs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ftpfs_askpass.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>macfusionAgent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>mfctl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>new_sshfs_askpass.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>sshfs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D41E17D30D8603DC00F46F50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D41E1E0B0D8758A200F46F50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D42E15540CE03A8200C81814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D48DB97E0D70D7A4008A62BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4B14BB50CE03CC3003195A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4B14D6B0CE19545003195A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4DB42030D3E863100C99914</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4E6D8080D9372640022763F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4E6DB000D9392840022763F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4EA614F0D8B30DA006D8885</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4FC0DA30CF23CFE0029B133</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
